$font-color: #232323;
$link-color: #1d5192;
$hover-link-color: #6095D7;
$background-color: #73ced3;

$sans-serif-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif-font: Georgia, Times, 'Times New Roman', serif;



body {
	color: $font-color;
	background-color: $background-color;
	font-family: $sans-serif-font;
}
nav {
  width: 100%;
  background-color: $background-color;
  ul {
    float: right;  
  }
  li {
    width: 10%;
  }
  a {
    color: $link-color;
    text-align: center;
    &:hover {
    	color: $hover-link-color;
    }
  }
}